asgiref==3.8.1
bcrypt==4.1.2
cffi==1.16.0
cryptography==42.0.5
Django==5.0.3
django-cors-headers==4.3.1
django-environ==0.11.2
django-rest-framework==0.1.0
djangorestframework==3.15.1
paramiko==3.4.0
psycopg2-binary==2.9.9
pycparser==2.22
PyNaCl==1.5.0
sqlparse==0.4.4
sshtunnel==0.4.0
pylint == 3.1.0
pylint-django == 2.5.5
gunicorn==21.2.0
wheel==0.43.0 